
#header_wrap .aboutmeinner { padding: 50px 10px 30px 10px; }
.aboutmeinner { position: relative; max-width: 940px; padding: 20px 10px; margin: 0 auto; }
.aboutmeheader {
  width: 100%;
}
.aboutmeheader img {
  padding: 5px;
  float: left;
  width: 150px;
  height: 150px;
  background: #555;
}

.aboutmeheader h1 {
  position: relative;
  top: 18px;
  left: 20px;
}

 .pro-tip {
  background-color: rgba(237, 233, 254, 1);
  border-color: rgba(167, 139, 250, 1);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-width: 4px;
  padding: 1rem;
  color: rgba(91, 33, 182, 1);
}
